*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
header{
    width: 100%;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.980);
    color: #ffffff9c;
}
header > h1{
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    color: orange;
}
header > h1 > span{
    color: #ffffff9c;
    font-family: "Jersey 15";
}
header > P{
    margin: 2rem;
    width: 85%; /*adjust for bigger screen */
    line-height: 1.5;
    position: relative;
}

.left{
    transform: scaleX(-1);
    width: 30px;
    filter: invert();
    position: absolute;
    top: -20px;
    left: -40px;
}
.right{
    width: 30px;
    filter: invert();
    position: absolute;
    bottom: -8px;
    margin-left: 10px;
}
header > a {
    text-decoration: none;
    color: #000;
    padding: 1em 3rem;
    font-family: "Roboto";
    font-weight: 800;
    background-color: rgba(255, 166, 0, 0.822);
    border: none;
    border-radius: 4px;
    margin: 4rem 0;
}
.organizers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    margin-top: 4rem;
}
.org-icon{
    filter: invert() grayscale();
    width: 120px;
}
.about{
    font-family: "Roboto";
    font-weight: 400;
    font-size: large;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000e5;
}
.about > h3{
    font-size: 2rem;
    font-family: "Roboto";
    font-weight: 800;
    text-transform: uppercase;
}
.about > .container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 2rem 0;
    text-align: justify;
}
.q-mark{
    width: 100%;
    opacity: .8;
    align-self: center;
}
.pathway{
    padding: 2rem;
    background-color: #000000fa;
    color: #000000da;
}
.pathway >.container > div{
    background-color: orange;
    width: 28rem;
    height: 8rem;
    border-radius: 8px;
    display: flex;
    animation: ease-in;
}
.number{
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-family: "Jersey 15";
    font-weight: 800;
}
.desc{
    display: flex;
    flex-direction: column;
    padding: 8px;
    font-size: 13px;
    font-weight: bold;
}
.desc > h4{
    font-size: larger;
    font-weight: bold;
}
.desc > ul {
    padding: 12px 14px;
    display: flex;
    flex-direction: column;
}
.pathway .container{
    padding: 0rem 2rem;
    display: grid;
    grid-template-columns: 16 1fr;
    row-gap: 2rem;
}
.pathway .container :nth-child(even){
    display: flex;
    justify-self: flex-end;
}
.pathway > h2{
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}
.item {
    opacity: 0; /* Initially hide items */
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s; /* Transition for animation */
  }


  
  .item.show {
    opacity: 1; /* Show items when class is applied */
    transform: translateY(0); /* Reset transform for animation */
  }
@media (min-width: 1024px) {
    .about ,.pathway{
        padding: 2rem 14rem;
    }
    header > p{
        width: 50%;
        text-align: justify;
    }
    
}
@media (max-width: 610px) {
    header{
        padding: 2em;
    }
    .organizers{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 8px;
    }
    .q-mark{
        display: none;
    }
    .about > .container{
        grid-template-columns: 1fr;
    }
    .about{
        width: 100%;
    }
    .pathway .container{
        display: flex;
        flex-direction: column;
    }
    .pathway{
        width: 100%;
    }
    .pathway .container .node{
        width: 100%;
        height: fit-content;
    }
}

  

